body {
    margin: 0;
    background: #fff;
    color: #2c2c54;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 0 20px;    
}
a {
    color: pink;
}

h1 {
    font-size: 40px;
    margin: 0;    
    font-family: 'Noto Serif', serif; 
    color: violet;
}
h2 {
    font-size: 16px;
    margin: 10px 0 20px 0;
    font-family: 'Noto Serif', serif; 
    font-style: italic;
    color:burlywood;
}
h3 {
    font-size: 18px;
    font-style: italic;
    font-family: 'Noto Serif', serif;
    color: #ccc;  
    font-weight: 200;   
}
.ref {
    font-style: italic;
    font-family: 'Noto Serif', serif; 
    color:burlywood;
}
    