body {
    margin: 0;
    background: #fff;
    color: #2c2c54;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Signika Negative", sans-serif; 
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 0 20px;    
}

h1 {
    font-size: 40px;
    margin: 0;    
    font-family: "Inconsolata", monospace; 
}
h2 {
    font-size: 18px;
    margin: 0 0 20px 0;
    font-family: "Inconsolata", monospace; 
    font-style: italic;
}
h3 {
    font-size: 18px;
    font-style: italic;
}
.ref {
    font-style: italic;
}
    